@{
    ViewData["Title"] = "Health Check Apps";
}
@model List<HealthCheck.Models.DTOs.TargetApps.TargetAppDto>

<div class="text-center">
    <h5 class="mb-10">App Manager  <a class="btn btn-primary" asp-area="" asp-controller="AppManager" asp-action="Create">Add a Target App</a> </h5>
</div>

<table class="table table-bordered table-striped w-100">
    <tr>
        <th width="25%">
            App
        </th>
        <th width="25%">
            Url
        </th>
        <th width="15%">
            Last Check
        </th>
        <th width="15%">
            Status
        </th>
        <th width="20%">
            Actions
        </th>
    </tr>

    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
<tr>
    <td>
        @item.Name
    </td>
    <td>
        @item.Url
    </td>
    <td>
        @(item.LastCheck)
    </td>
    <td>
        <button type="button" class="badge badge-@((item.IsAlive.HasValue && item.IsAlive.Value) ? "success" : (item.IsAlive==null) ?"light" :"danger")">
            @((item.IsAlive.HasValue && item.IsAlive.Value)?"Live": (item.IsAlive==null) ?"Not Checked": "Down")
        </button>
    </td>
    <td>
        <a class="btn btn-warning" href="/AppManager/Update/@item.Id">Edit</a>
        <a class="btn btn-danger" href="/AppManager/Delete/@item.Id">Delete</a>
    </td>
</tr>
        }
    }
    else
    {
        <tr>
            <td colspan="4" class="text-center">
            You don't have any apps <a class="btn btn-primary" asp-area="" asp-controller="AppManager" asp-action="Create">Add a Target App</a>
            </td>
        </tr>
    }
</table>

